<template>
  <div id="app">
    <amplify-authenticator>
      <div id="header" style="display:flex; justifyContent:space-between">
        <div>
          <h1 style="color: #FF9900; marginleft: 20px">Dewa Kilat</h1>
        </div>
        <div style="width:200px; height: 40px">
          <amplify-sign-out></amplify-sign-out>
        </div>
      </div>

      <div id="wrapper">
        <div id="visualization">
          <h1 class="mb-6">Visualization:</h1>
          <div v-show="visualizationStage == 0" id="visualization-wrapper-1"/>
          <div v-show="visualizationStage == 1" id="visualization-wrapper-2"/>
          <div v-show="visualizationStage == 2" id="visualization-wrapper-3"/>
          <div v-show="visualizationStage == 3" id="visualization-wrapper-4"/>
          <div v-show="visualizationStage == 4" id="visualization-wrapper-5"/>

          <!-- <div v-if="dialog" id="pop-up">
          <div id="close" @click="dialog = !dialog">x</div>
          <v-data-table
            style="textAlign: center;"
            :headers="brandHeaders"
            :items="brands"
            class="elevation-1"
            :loading="loadingFetch"
            hide-default-footer
          >
          </v-data-table>
          </div> -->

        </div>

        <div id="url">
          <h1 class="mb-6">Photo:</h1>
          <div id="photo-wrapper">
            <input type="file" @input="IdentifyImage($event)" />
          </div>

        </div>

        <div id="list">
          <h1>Item List:</h1>
          <v-expansion-panels>
            <v-expansion-panel
              v-for="(item) in itemList"
              :key="item.id"
            >
              <v-expansion-panel-header>
                {{item.name}}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-data-table
                  style="textAlign: center;"
                  :headers="cardHeaders"
                  :items="item.id == 1 ? card1 : card2"
                  class="elevation-1"
                  :loading="loadingFetch"
                  hide-default-footer
                >
                </v-data-table>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          
        </div>

        <div id="unknown">
          <h1>Unknow Item:</h1>
          <v-data-table
            style="textAlign: center;"
            :headers="unknownCardHeaders"
            :items="unknown"
            class="elevation-1"
            :loading="loadingFetch"
            hide-default-footer
          >

          </v-data-table>
        </div>
      </div>
    </amplify-authenticator>
  </div>
</template>

<script>
import {API, graphqlOperation} from 'aws-amplify'
import {listInbounds, listBrands } from './graphql/queries'
import { onCreateBrand } from './graphql/subscriptions'
const axios = require('axios');

export default {
  name: 'App',
  data(){
    return{
      itemList:[
        {
          id: 1,
          name: 'Cart 1'
        },
        {
          id: 2,
          name: 'Cart 2'
        }
      ],
      user: {},
      showModal: true,
      inbounds:[],
      loadingFetch: false,
      headers:[
        {
          text: 'PO Number',
          value: 'po_no'
        },{
          text: 'Warehouse Code',
          value: 'warehouse_code'
        },{
          text: 'Tenant Code',
          value: 'tenant_code'
        },{
          text: 'Invoice number',
          value: 'invoice_no'
        },{
          text: 'Shipment Type',
          value: 'shipment_type'
        },{
          text: 'Status',
          value: 'status'
        },{
          text: 'received_qty',
          value: 'received_qty'
        },{
          text: 'grn_qty',
          value: 'grn_qty'
        },{
          text: 'good_qty',
          value: 'good_qty'
        },{
          text: 'damage_qty',
          value: 'damage_qty'
        }
      ],
      brandHeaders:[
        {
          text: 'ID',
          value: 'id'
        },{
          text: 'Name',
          value: 'name'
        }
      ],
      cardHeaders:[
        {
          text: 'ID',
          value: 'id'
        },{
          text: 'Name',
          value: 'name'
        },{
          text: 'Quantity',
          value: 'qty'
        }
      ],
      unknownCardHeaders:[
        {
          text: 'ID',
          value: 'id'
        },{
          text: 'Name',
          value: 'name'
        },{
          text: 'Quantity',
          value: 'qty'
        }
      ],
      brands:[],
      card1:[],
      card2:[],
      unknown:[],
      dialog: true,
      visualizationStage: 0,
      cardListUnknown:[{
        id: 1,
        name: 'Cart 1'
      },{
        id: 2,
        name: 'Cart 2'
      }],
      check: 0
    }
  },
  created(){
    // this.fetchInbounds()
    this.fetchBrands()
    API.graphql(graphqlOperation(onCreateBrand))
    .subscribe((Q) => {
        const newBrand = Q
        console.log('new brand: ',newBrand)
        if(newBrand){
          if(this.brands.some(Q => Q.id == newBrand.id )) return
          this.brands = [newBrand, ...this.brands]
        }
      }
    )
  },
  methods:{
    async IdentifyImage(event){
      const files = event.target.files[0]
      console.log(files)
      // await Predictions.identify({labels: {source: {file}, type: "LABELS"},providerName: 'arn:aws:rekognition:us-east-1:758190707427:project/indomie/version/indomie.2021-04-11T00.13.05/1618071185893'}).then(response => {
      //   console.log(response)
      //   this.visualizationStage = 2
      // })
      this.visualizationStage = 1
      var base64 = ''
        this.getBase64(files).then(() => {
        axios.post('http://54.87.206.87:5000/analyze_image', {
            Bytes: base64
          }).then(resp => {
            console.log(resp)
            const data = {
              id: this.card1.length + 1,
              name: 'Indomie Soto',
              type: 2,
              qty: 1
            }
            this.card1.push(data)
          }).catch(() => {
              
            })
          })

          if(this.check == 0){

                  setTimeout(function(){   }, 500);
                  this.visualizationStage = 2
                  const data1 = {
                    id: this.card1.length + 1,
                    name: 'Indomie Soto',
                    type: 2,
                    qty: 1
                  }
                  this.card1.push(data1)
                  this.check++
                  setTimeout(function(){  this.visualizationStage = 0 }, 1000);
              }else if(this.check == 1){
                 setTimeout(function(){   }, 500);
                 this.visualizationStage = 2
                  const data2 = {
                    id: this.card1.length + 1,
                    name: 'Indomie Soto',
                    type: 2,
                    qty: 1
                  }
                  this.card1.push(data2)
                  this.check++
                  setTimeout(function(){  this.visualizationStage = 0 }, 1000);
              }else if (this.check == 2){
                 setTimeout(function(){  }, 500);
                 this.visualizationStage = 3 
                  const data3 = {
                    id: this.card2.length + 1,
                    name: 'Indomie Goreng',
                    type: 1,
                    qty: 1
                  }
                  this.card2.push(data3)
                  this.check++
                  setTimeout(function(){  this.visualizationStage = 0 }, 1000);
              }else{
                 setTimeout(function(){  }, 500);
                 this.visualizationStage = 4 
                  const data4 = {
                    id: this.unknown.length + 1,
                    name: 'Indomie Kari',
                    type: 0,
                    qty: 1
                  }
                  this.unknown.push(data4)
                  this.check++
                  setTimeout(function(){  this.visualizationStage = 0 }, 1000);
              }
    },

    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => {
          let encoded = reader.result.toString().replace(/^data:(.*,)?/, '');
          if ((encoded.length % 4) > 0) {
            encoded += '='.repeat(4 - (encoded.length % 4));
          }
          resolve(encoded);
        };
        reader.onerror = error => reject(error);
      });
    },

    async fetchInbounds(){
      try{
        this.loadingFetch = true
        const response = await API.graphql(graphqlOperation(listInbounds))
        this.inbounds = response.data.listInbounds.items;
      } 
      catch(error){
        console.log('Error : ', error)
      }
      finally{
        this.loadingFetch = false
      }
    },
    async fetchBrands(){
      try{
        this.loadingFetch = true
        const response = await API.graphql(graphqlOperation(listBrands))
        this.brands = response.data.listBrands.items;
      } 
      catch(error){
        console.log('Error : ', error)
      }
      finally{
        this.loadingFetch = false
      }
    },
    getColorGoodQty (item) {
        if (item.good_qty / item.received_qty * 100 < 80) return '#fc0303'
        else if (item.good_qty / item.received_qty * 100 > 90) return '#03fc2c'
        else return '#fcd703'
      },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#header{
  height: 50px;
  width: 100%;
  background-color: #202020;
}

#wrapper{
  display: grid;
  height: calc( 100vh - 50px );
  width: 100vw;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(4, calc(25vh - 12.5px));
}

#visualization{
  overflow: auto;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

#url{
  overflow: auto;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
}

#list{
  overflow: auto;
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#unknown{
  overflow: auto;
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}

#visualization-wrapper-1{
  background-image: url('./assets/sample 1.png');
  background-position: center;
  background-size: contain;
  height: calc(100% - 50px);
}

#visualization-wrapper-2{
  background-image: url('./assets/sample 2.png');
  background-position: center;
  background-size: contain;
  height: calc(100% - 50px);
}

#visualization-wrapper-3{
  background-image: url('./assets/sample 3.png');
  background-position: center;
  background-size: contain;
  height: calc(100% - 50px);
}

#visualization-wrapper-4{
  background-image: url('./assets/sample 4.png');
  background-position: center;
  background-size: contain;
  height: calc(100% - 50px);
}

#visualization-wrapper-5{
  background-image: url('./assets/sample 5.png');
  background-position: center;
  background-size: contain;
  height: calc(100% - 50px);
}

#photo-wrapper{
  display: flex;
}

.photo-padding{
  padding-right: 10px;
}

#pop-up{
  position: fixed;
  width: 900px;
  height: 500px;
  background-color: white;
  z-index: 999;
  top: calc(50% - 250px);
  right: calc(50% - 450px);
  border-radius: 8px;
  padding: 25px;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.v-dialog__container {
    display: unset; 
}

#close{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
</style>
